html {
	scroll-behavior: smooth;
	font-size: 10px;
	font-family: 'Montserrat';
	overflow-x: auto;
}

::-webkit-scrollbar {
	display: block;
	height: 4px; /* Высота скроллбара */
	width: 8px;
 }

::-webkit-scrollbar-thumb {
	background-color: #c7c5c5; /* Цвет ползунка скроллбара */
	border-radius: 6px; /* Закругление углов ползунка */
 }

 ::-webkit-scrollbar-track {
	background-color: #f1f1f1; /* Цвет трека скроллбара */
 }

 ::-webkit-scrollbar-thumb:hover {
	background-color: #555; /* Изменяем цвет ползунка при наведении */
 }

 @media (max-width: 360px) {
	html {
		font-size: 8px;
	}
 }